Time Series Analysis
- Time series analysis is a statistical technique that can be used to extract meaningful insights from time series data.
- It it commonly used in various fields, such as finance, economics, weather forecasting, and many others.

In [18]:
import pandas as pd

- DateTimeIndex: use to represent the 'Time Series Index'
- DateTime : is single data and value

In [19]:
#DateTimeIndex #DateTime
import datetime as dt 

date = pd.Timestamp(2022, 7, 17, 1, 37, 19)  #(year, month, day, hour, min, sec)
date.month

7

In [20]:
print(date.year)
print(date.second)

2022
19

In [21]:
df = pd.DataFrame({'A':[1,2,3]}, index=pd.DatetimeIndex(['2022-01-03', '2023-02-27', '2022-05-19']))
df

            A
2022-01-03  1
2023-02-27  2
2022-05-19  3

In [22]:
#shifting
shifted_data = df.shift(periods=1)
shifted_data

              A
2022-01-03  NaN
2023-02-27  1.0
2022-05-19  2.0

In [23]:
#shifting
shifted_data = df.shift(periods=2)
shifted_data

              A
2022-01-03  NaN
2023-02-27  NaN
2022-05-19  1.0

In [24]:
#lagging
df['lagged'] = df['A'].shift(periods=1)
df

            A  lagged
2022-01-03  1     NaN
2023-02-27  2     1.0
2022-05-19  3     2.0

In [25]:
# df['lagged'] = df['A'].shift(periods=2)
# df

In [26]:
#resampling (m for monthly, q for quaterly, a for yearly)
resampleddata = df.resample('M').sum()
resampleddata

            A  lagged
2022-01-31  1     0.0
2022-02-28  0     0.0
2022-03-31  0     0.0
2022-04-30  0     0.0
2022-05-31  3     2.0
2022-06-30  0     0.0
2022-07-31  0     0.0
2022-08-31  0     0.0
2022-09-30  0     0.0
2022-10-31  0     0.0
2022-11-30  0     0.0
2022-12-31  0     0.0
2023-01-31  0     0.0
2023-02-28  2     1.0